.startScreen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 85%;
  background-color: black;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  outline: 5px solid black;
}

.header{
  color: white;
  font-size: 3rem;
}

.board{
  height: 400px;
  width: 400px;
  outline: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}

.tiles{
  height: 40px;
  width: 40px;
  outline: 1px solid black;
}